---
defaults:
  domain: saltbox.local.inovex.de
  #base_box: puppetlabs/centos-7.0-64-nocm
  base_box: bechtoldt/centos-7.0-salt-2015.8.0
  osfam: rhel
  synced_folders:
    # Common folders
    - src: ../shared/misc
      dst: /vagrant/shared/misc

    # Salt related folders
    - src: ../shared/salt/devenv
      dst: /vagrant/shared/salt/devenv
    #- src: ../../github/salt
    #  dst: /vagrant/src/salt
    - src: ../shared/salt/assets/salt-modules/_modules
      dst: /vagrant/salt/_modules
    - src: ../shared/salt/assets/salt-modules/_states
      dst: /vagrant/salt/_states
  provision:
    - name: basic
    - name: saltstack_install_bootstrap
      env:
        params: '-Z,-P,-M,git,v2015.8.0'
    - name: saltstack_formulas
      formulas:
        - name: saltbox
          base_dir: ../shared/salt/assets/saltstack-saltbox-formula
        - name: java
          base_dir: ../shared/salt/assets/saltstack-java-formula
        - name: repos
          base_dir: ../shared/salt/assets/saltstack-repos-formula
        - name: time
          base_dir: ../shared/salt/assets/saltstack-time-formula
        - name: git
          base_dir: ../shared/salt/assets/saltstack-git-formula
        - name: vim
          base_dir: ../shared/salt/assets/saltstack-vim-formula
        - name: tools
          base_dir: ../shared/salt/assets/saltstack-tools-formula
        - name: sysctl
          base_dir: ../shared/salt/assets/saltstack-sysctl-formula
        - name: tomcat
          base_dir: ../shared/salt/assets/saltstack-tomcat-formula
        - name: users
          base_dir: ../shared/salt/assets/saltstack-users-formula
        - name: salt
          base_dir: ../shared/salt/assets/saltstack-salt-formula
        - name: bash
          base_dir: ../shared/salt/assets/saltstack-bash-formula
        - name: zsh
          base_dir: ../shared/salt/assets/saltstack-zsh-formula
        - name: postfix
          base_dir: ../shared/salt/assets/saltstack-postfix-formula
        - name: httpd
          base_dir: ../shared/salt/assets/saltstack-httpd-formula
        - name: repositorio
          base_dir: ../shared/salt/assets/saltstack-repositorio-formula
    - name: saltstack_config
    - name: saltstack_services
nodes:
  master1:
    ip: 10.10.13.100
    cpus: 4
    memory: 2048
#  minion1:
#    ip: 10.10.13.101
#    memory: 256
#  minion2:
#    ip: 10.10.13.102
#    memory: 256
#  minion3:
#    ip: 10.10.13.103
#    memory: 256
#  minion4:
#    ip: 10.10.13.104
#    memory: 256
#  minion5:
#    ip: 10.10.13.105
#    memory: 256
